{% if site.data.profile.services %}

<div class="my-3 p-0 bg-white shadow-sm rounded-xl">
    <h6 class="border-bottom border-gray px-4 py-3 mb-0">
        <i class="fas fa-gavel"></i> Academic Services
    </h6>
    <div class="px-4 py-3 small">
        <ul class="list-unstyled mb-0">
            <li class="mb-1 font-weight-bold">
                Conference Reviewer:
            </li>
            {% for service in site.data.profile.services %}
            {% if service.tag == 'conference' %}
            <li class="mb-1">
                <i class="fas fa-circle fa-xs text-muted mr-2"></i>
                {{ service.name }} {% if service.years %}({{ service.years }}){% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <hr>
        <ul class="list-unstyled mb-0">
            <li class="mb-1 font-weight-bold">
                Journal Reviewer:
            </li>
            {% for service in site.data.profile.services %}
            {% if service.tag == 'journal' %}
            <li class="mb-1">
                <i class="fas fa-circle fa-xs text-muted mr-2"></i>
                {{ service.name }} {% if service.years %}({{ service.years }}){% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}